################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DataTables-Editor-Server/v15/Server/sqlite3/db.lock
/.vs/DataTables-Editor-Server/v15/Server/sqlite3/storage.ide
/.vs/DataTables-Editor-Server/v15/Server/sqlite3/storage.ide-shm
/.vs/DataTables-Editor-Server/v15/Server/sqlite3/storage.ide-wal
/.vs/slnx.sqlite
/.vs/DataTables-Editor-Server/v15/.suo
/.vs/Editor-NET/v15/.suo
/DataTables-Editor-Server/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DataTables-Editor-Server/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DataTables-Editor-Server/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DataTables-Editor-Server/obj/Debug/net45/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DataTables-Editor-Server/obj/Debug/net45/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DataTables-Editor-Server/obj/Debug/net45/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/.vs/DataTables-Editor-Server/DesignTimeBuild
/DataTables-Editor-Server/bin/Debug
/DataTables-Editor-Server/obj
